.company-title {
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 35px;
  background-image: url("../../assets/DecorationSpiderweb-mobile.svg");

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 1440px) {
    flex-direction: column;
    background: none;
    height: 586px;
    padding-left: 40px;
  }

  &--wrapper {
    @media (min-width: 1440px) {
      display: block;
      background-image: none;
    }
  }

  &__heading {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #333538;

    @media (min-width: 768px) {
      padding-left: 30px;
      width: 400px;
      text-align: left;
    }

    @media (min-width: 1440px) {
      width: 668px;
      font-size: 50px;
      margin: 102px 0 0 0;
      padding: 0;
    }
  }

  &__parcent {
    color: #ccb783;
  }

  &__line {
    display: block;
    margin: 0 auto 25px auto;
    height: 5px;
    width: 139px;
    background: linear-gradient(90deg, #97794D 10%, #E3CB8F 50%);

    @media (min-width: 768px) {
      display: none;
    }

    @media (min-width: 1440px) {
      display: block;
      margin: 30px 0;
    }
  }

  &__more-income {
    display: block;
    margin-top: 15px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    font-size: 16px;
    text-align: center;

    @media (min-width: 768px) {
      padding-left: 30px;
      width: 400px;
      text-align: left;
    }

    @media (min-width: 1440px) {
      font-size: 20px;
      padding: 0;
      margin: 0;
      width: 581px;
    }
  }

  &__button-container {
    @media (min-width: 768px) {
      display: flex;
    }

    @media (min-width: 1440px) {
      height: 60px;
      margin-top: 60px;
    }
  }

  &__macbook {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__macbook-container {
    position: relative;
    height: 180px;
    display: block;
    margin: 0 auto;

    @media (min-width: 768px) {
      margin-top: 35px;
    }

    @media (min-width: 830px) {
      flex-basis: 50%;
    }

    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__info,
  &__whitepaper {
    cursor: pointer;
    display: block;
    width: 244px;
    height: 60px;
    margin: 24px auto 0 auto;
    background-color: #fff;
    border: 1px solid #97794D;
    border-radius: 5px;
    color: #97794D;
    font-size: 18px;
    box-shadow: none;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      background-color: #C0A570;
      color: #fff;
    }

    @media (min-width: 768px) {
      font-size: 16px;
      margin: 0 30px;
      height: 40px;
      width: 180px;
    }

    @media (min-width: 1440px) {
      height: 60px;
      margin: 0;
      font-size: 17px;
      width: 243px;
    }
  }

  &__whitepaper {
    margin-top: 10px;

    @media (min-width: 768px) {
      margin: 0;
    }

    @media (min-width: 1440px) {
      margin-left: 30px;
    }
  }

  &__form {
    z-index: 998;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.219);
  }
}

.company-title-form {
  position: fixed;
  z-index: 999;
  width: 320px;
  max-width: 400px;
  height: 340px;
  margin: auto;
  background-color: #fff;
  color: #000;
  background-image: url("../../assets/DecorationSpiderweb-mobile.svg");
  border-radius: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media (min-width: 1440px) {
    width: 1366px;
    max-width: unset;
    height: 480px;
    border: 2px solid #C0A570;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(0, 0, 0, 0.04);
    background-image: url("../../assets/quiz-last-bg.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 0;
  }

  &__field {
    width: 265px;
    margin-top: 15px;
    margin-left: 20px;

    @media (min-width: 1440px) {
      width: 600px;
      margin-top: 20px;
      margin-left: 160px;
    }
  }

  &__heading {
    color: #000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;

    @media (min-width: 1440px) {
      margin-left: 160px;
      font-size: 30px;
      text-align: left;
      margin-bottom: 40px;
    }
  }

  &__input {
    margin-top: 15px;
    background: rgba(159, 159, 159, 0.05);
    border: 1px solid rgba(159, 159, 159, 0.3);
    height: 30px;
    font-size: 16px;
    padding: 0 0 0 40px;
    width: 100%;
    
    &:active,
    &:focus {
      outline: 2px solid #C0A570;
    }

    @media (min-width: 1440px) {
      margin-top: 15px;
      height: 60px;
      font-size: 16px;
      padding: 0 0 0 40px;
      width: 95%;
    }
  }

  &__cross {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    width: 40px;
  }

  &__button {
    position: absolute;
    height: 40px;
    width: 140px;
    right: 20px;
    bottom: 20px;
    background: linear-gradient(90deg, #97794D 0%, #E3CB8F 100%);
    border-radius: 5px;
    font-size: 17px;
    color: #FEFDFB;
    border: none;
    outline: none;

    &:hover {
      background: linear-gradient(90deg, #775f3c 0%, #f0d697 100%);
    }

    &:focus,
    &:active {
      background: linear-gradient(90deg, #5a482d 0%, #ffe2a0 100%);
    }

    @media (min-width: 1440px) {
      right: 42%;
      bottom: 35px;
      width: 180px;
      height: 60px;
    }
  }

  &__label {
    position: relative;
  }

  &__man-icon,
  &__phone-logo {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 15px;
    top: 38px;

    @media (min-width: 1440px) {
      top: 53px;
    }

    &>path {
      fill: #aa986b;
    }
  }
}

.blocker {
  cursor: pointer;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(0,0,0,.5);
}